@import "tailwindcss";

:root {
  --background: #181818;
  --foreground: #FFFFFF;
  --muted: #9BA3AE;
  --border: #3C424B;
  --surface: #242424;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-surface: var(--surface);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
